<h1>Stupid Coaching</h1>
<div class="p-3 border bg-light m-3">
  <p><%= @question %></p>
  <p>-You</p>
</div>
<div class="p-3 border bg-light m-3">
  <p><%= @reply %></p>
  <p>-Your coach</p>
  <a href="/ask">Ask a new question</a>
</div>
